
.latest-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:12px 20px auto
  }
  .movie {
    width: calc(100%);
    margin-bottom: 20px;
    border-radius: 1rem;

  }

  .latest-movies-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
